.header {
    display: flex;
    flex-direction: column;
    .nav {
        display: flex;
        flex-direction: column;
        li {
            width: 60px;
            list-style: none;
        }
    }
}
